.displayItem {
    width: auto; 
    border-radius: 10px; 
    box-shadow: 1px 1px 6px #888888;
    height: 14em; 
    background: white; 
    transform: perspective(1px) translateZ(0);
    box-shadow: 1px 1px 2px rgb(204, 207, 210); 
    transition-duration: 0.3s;
    transition-property: box-shadow;
    overflow: hidden;
    background-color: #d7d7d7; 

}

.displayItem:hover {
    box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.displayWrapper {
    text-align: center; 
    width: 100%; 
    margin: 1em 0 0 0; 
    padding: 2em; 
    /* background-color: #d7d7d7;  */
}